/* HeroSearch private styles */
h4 {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 50%;
  margin: auto;
}

.menu {
  padding-left: 3em; 
}

button {
  width: 30%;
  margin: auto;
}


.wait {
  padding: 3em; 
}