<div id="process-component">
  <h4>Lake Process - Obtain arrays in .csv </h4>

  <div class="menu">
      <button id="button1" class="btn btn-info" (click)="generateCSVAll()">all wavelengths</button>
      <button id="button2" class="btn btn-info" (click)="generateCSVRGB()">RGB all depths</button>
      <button id="button3" class="btn btn-info" (click)="generateCSVRGBSensor()">RGB 4 depth</button>
      <button id="button4" class="btn btn-info" (click)="generateCSVRGBSensorError20()">RGB 4 depth Error 20</button>
      <button id="button5" class="btn btn-info" (click)="generateCSVRGBDoubleSensorError20()">RGB 4 depth Double Error 20</button>
      <button id="button4" class="btn btn-info" (click)="generateCSVRGBSensorError10()">RGB 4 depth Error 10</button>
      <button id="button5" class="btn btn-info" (click)="generateCSVRGBDoubleSensorError10()">RGB 4 depth Double Error 10</button>
  </div>

  <div class="wait">
    temps espera
  </div>
