<div id="process-component">
  <h4>Make clusters</h4>

  <div class="menu">
      <button id="button1" class="btn btn-info" (click)="generateClusterAll()">Cluster all wavelengths</button>
      <button id="button2" class="btn btn-info" (click)="generateClusterRGB()">Cluster RGB all depths</button>
      <button id="button3" class="btn btn-info" (click)="generateClusterRGBDistancesSensor()">Cluster RGB 4 depth</button>
      <button id="button4" class="btn btn-info" (click)="generateClusterRGBDistancesSensorError20()">Cluster RGB 4 depth Error 20</button>
      <button id="button5" class="btn btn-info" (click)="generateClusterRGBDistancesSensorError10()">Cluster RGB 4 depth Error 10</button>
      <button id="button6" class="btn btn-info" (click)="generateClusterRGBDistancesDoubleSensorError20()">Cluster RGB 4 double depth Error 20</button>
      <button id="button7" class="btn btn-info" (click)="generateClusterRGBDistancesDoubleSensorError10()">Cluster RGB 4 double depth Error 10</button>
  </div>

</div>
